<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAL8MJPhIkXWYE43ZvFKUpIdXj3h3B8AOo</string>
	<key>GCM_SENDER_ID</key>
	<string>654701322923</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fenix.movieapptest</string>
	<key>PROJECT_ID</key>
	<string>fenximovie</string>
	<key>STORAGE_BUCKET</key>
	<string>fenximovie.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654701322923:ios:a85f158b99d49ce9ee4dee</string>
</dict>
</plist>